<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee </title>
</head>
<body>
    <a href="/">BACK</a>
    <% if(data){ %>
        <% data.forEach((value) => { %>
          <p style="color: rgb(25, 0, 255);"> NAME : <%= value.name %></p>
          <p style="color: red;"> EMAIL :  <%= value.email %></p><br>
       <% }) %>
    <% } %>
</body>
</html>