<!DOCTYPE html>
<html>
<body>
  <a href="/">BACK</a>

<h2 style="color: blue;">Employee Login Forms</h2>

<form action="/log-in" method="post">
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email" placeholder="Enter Your Email"><br><br>
  <label for="password">password:</label><br>
  <input type="password" id="password" name="password" placeholder="Enter your password"><br><br>
  <input type="submit" value="Login" style="background-color: green; color: red;">
</form> 

<p style="color: red;"> click on the "login" button...</p>

</body>
</html>

