<!DOCTYPE html>
<html>
<body>

<h2 style="color: blue;">Employee Login Forms</h2>

<form action="/action_page.php" method="post">
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email" placeholder="Enter Your Email"><br><br>
  <label for="password">password:</label><br>
  <input type="password" id="password" name="password" placeholder="Enter your password"><br><br>
  <input type="submit" value="Login">
</form> 

<p style="color: red;"> click on the "login" button...</p>

</body>
</html>

